.navbar {
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
/* --- navbar sizes --- */
/* --- navbar colors --- */
}
.navbar--size--xl {
  padding: 4rem 0;
    padding-bottom: 4rem;
margin-top: 0px;
border-bottom: 0px;
margin-bottom: 0px;
padding-bottom: 0px;
}
.navbar--size--lg {
  padding: 1rem 0;
}
.navbar--size--md {
  padding: 0;
}
.navbar--size--sm {
  padding: 0;
}
.navbar--color--white {
  background: #fff;
}
.navbar--color--primary {
  background: #37ca7e;
}
.navbar--color--secondary {
  background: rgba(255,255,255,0.95);
}
.navbar--color--ghost {
  background: rgba(255,255,255,0.95);
}
/*.navbar--color--ghost .navbar-brand,
.navbar--color--ghost .navbar-text,
.navbar--color--ghost a {
  color: black;
}*/


@media screen and (max-width:768px) {
.navbar--size--xl {
    padding: 0; }
    }
